<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>Sherzad - Center for code Education</title>
  {{ $styles := resources.Get "designs/styles.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">

  {{ $navscripts := resources.Get "js/navscripts.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $navscripts.Permalink }}"></script>

</head>