{{ define "content" }}
<div class="grid-ish-projects">
    {{ range .Paginator.Pages }}
    <div class="col-md-4 mt-4">
        <div class="card projects-card">

            <div class="table">
                <h5 class="text-info mt-3 px-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                {{/* <p class="card-description px-3"> {{ truncate "100" .Description }} </p>
                <p class="px-3"><b>Duration:</b> {{ .Params.Duration }} </p> */}}


            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}