/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  .person-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: white;
    --nav-color: #0080d6;
    --side-nav: #010718;
    --text-color: #020284;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #0080d6;
    --nav-color: #3498db;
    --side-nav: #242526;
    --text-color: white;
    --search-bar: #242526;
}

nav{
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 67px;
    width: 100%;
    /* background-color: var(--nav-color); */
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    /* background-color: var(--nav-color); */
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}









/* Footer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: var(--nav-color);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--nav-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p, .footer-column ul {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: var(--nav-color);
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}






/* design for single pages */
/* .content{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}  */




//index page card design
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
   
    
}

.section {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border:2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.cards-container-indexfront {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}



.card {
    background-color: var(--nav-color);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    transform: translateY(50px);
    
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 20px;
    
}
.card-content:hover{
    opacity:0.7;
}
.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 5, 0.15);
   
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .card h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 30px;
    }

    .card h2 {
        font-size: 18px;
    }
}



.title:nth-child(1) { top: 20%; left: 50%; transform: translateX(-50%); animation-delay: 0s; }
.title:nth-child(2) { top: 40%; left: 50%; transform: translateX(-50%); animation-delay: 0.5s; }
.title:nth-child(3) { top: 60%; left: 50%; transform: translateX(-50%); animation-delay: 1s; }
.title:nth-child(4) { top: 80%; left: 50%; transform: translateX(-50%); animation-delay: 1.5s; }
.title:nth-child(5) { top: 50%; left: 50%; transform: translateX(-50%); animation-delay: 2s; }

@keyframes move {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

/* Media Queries for better responsiveness */
@media (max-width: 600px) {

    .title {
        font-size: 1em;  /* Adjust font size for smaller screens */
    }
}

.title {
    font-family: 'Courier New', Courier, monospace;  /* Unique typewriter font */
    font-size: 2.3em;  /* Large font size for emphasis */
    color: #333;  /* Dark gray color for the text */
    display: inline-block;
    position: relative;
    font-weight:bold;
    animation: move 20s infinite ease-in-out;
   
}
.first-letter{
    animation: colorChange 16s infinite; 
}





@keyframes colorChange {
    0%, 50% {
        color: #d200d6;  /* Color at the start and halfway */
    }
    25%, 75% {
        color: #0080d6;  /* Color at a quarter and three-quarters of the animation */
    }
}

.containerfrontindex {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%; /* Set a specific width */
    margin: 0 auto; /* Center the container */
    p{
        padding-top:80px;
        margin-top:10px;
    }
}

/* News design styling */
.newsdesign {
    
    margin-top: -70px;
    padding-bottom:200px;
    border-radius: .3em;
 
    /* border: 1px solid blue; */
    width: 94%; /* Adjust this value to change the width */
  
}


@media (min-width: 500px) {
    .span-2 {
        grid-column: auto / span 2;
    }


}

