{{ define "content" }}
{{ "<!-- index -->" | safeHTML }}

<div class="containerfrontindex">

    <div class="newsdesign">
        <div class="title">
            <span class="first-letter">S</span>imple coding <span class="first-letter">E</span>mpowering Developers
            <span class="first-letter">C</span>ode with Confidence
            <span class="first-letter">C</span>reativity <span class="first-letter">E</span>asy concepts

        </div>
        <p>
            We simplify software development for everyone. Our simple coding tutorials break down complex tasks into
            easy-to-follow steps, making programming accessible to all. We aim to empower developers at every stage,
            providing the skills and knowledge needed to succeed.
        </p>


    </div>

    <div class="newsdesign">
        <p> Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in
            the embed code for the video you want to add. You can also type a keyword to search online for the video
            that best fits your document.</p>
        </span>
    </div>

</div>





<main>
    <section id="cards" class="section">

        <div class="cards-container">
            <div class="card">
                <div class="card-content">
                    <img src="images/hd1.jpg" alt="Card Image 1">
                    <h2>Unique Card Design 1</h2>
                    <p>Here's some content for your unique card 1.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="images/hd1.jpg" alt="Card Image 2">
                    <h2>Unique Card Design 2</h2>
                    <p>Here's some content for your unique card 2.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="images/hd1.jpg" alt="Card Image 3">
                    <h2>Unique Card Design 3</h2>
                    <p>Here's some content for your unique card 3.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="images/hd1.jpg" alt="Card Image 3">
                    <h2>Unique Card Design 3</h2>
                    <p>Here's some content for your unique card 3.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="images/hd1.jpg" alt="Card Image 3">
                    <h2>Unique Card Design 3</h2>
                    <p>Here's some content for your unique card 3.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<p>{{ .Content }}</p>

{{ end }}